@font-face {
    font-family: 'Losta Masta';
    src: url('/Deelishes-Regular.ttf') format('truetype'); 
  }


.background2{
    position: relative ;
    width: 100% ;
    min-height: 100vh ;
    z-index: 1;
    background: rgb(4, 3, 24);
    overflow-x: hidden;
}
.stars2{
    position: absolute;
    width: 100%;
    top: 0px;
    display: flex ;
    justify-content: space-around ;
}

.secundaryBack{
    position: relative;
    width: 90% ;
    height: 100vh;
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: radial-gradient(rgb(21, 18, 73),rgb(4, 3, 24),rgb(4, 3, 24));
}
.separator{
    position: relative ;
    width: 80% ;
    margin: 0 auto;
    text-align: left;
    margin: inherit;
    text-transform: uppercase;
    color: rgb(17, 157, 221);
    font-size: 4em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Losta Masta';
}
.frontBack {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto ;
    backdrop-filter: blur(10deg); 
    border-radius: 20px; 
}

.section{
    position: relative ;
    width: 100% ;
    min-height: 100vh;
    display: flex ;
    align-items: center ;
    justify-content: center;
    background: radial-gradient(rgb(10, 7, 53),rgb(4, 3, 24),rgb(4, 3, 24));
}
.moonBx1{
    position: relative;
    width: 100% ;
    height: 100vh ;
    display: flex ;
    align-items: center ;
    justify-content: center;
   

}

.btnMain{
    position: absolute ;
    width: 150px ;
    height: 40px ;
    top: 550px;
}

@media(max-width:1036px){
    .btnMain{
        position: absolute ;
        width: 150px ;
        height: 40px ;
        top: 700px;
    }
}

@media (max-width: 540px){
    .moonBx1{
        position: relative;
        width: 350px ;
         height: 350px ;
        margin: 0 auto;
    }
    
    .separator{
        font-size: 4em;
        width: 100%;
        margin: 0 auto;
    }

}



