
.projectCardBx{
    position: relative ;
    width: 100% ;
    min-height:100vh ;
    display: flex ;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
   

}
.projectCard{
    position: relative ;
    width:90% ;
    margin-bottom: 90px;
    min-height: 600px;
    display: flex;
    padding-top: 80px;
    
}

.img{
    position: relative ;
    width: 70% ;
    height: 400px ;
    object-fit:cover;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid  #00aeff;
    cursor: pointer;
    transition: 0.5s ease;

}
.img img {
    position: relative;
    width: 100% ;
    height: 100%;
}
.projectName{
    position: relative ;
    width: 300px ;
    display: flex;
    font-size: 4em;
    padding: 20px;
    border-radius: 5px;
    color: rgba(17, 157, 221, 0.829);
}
.projectName a span{
    font-weight: bolder;
}

.projectInfo{
    position: relative ;
    padding: 10px;
    font-size: 1em;
    width: 350px;
    color: whitesmoke;
    z-index: 3;
    font-family: 'Emberly';
}
.img:hover  {
    -webkit-box-shadow: 0px 0px 32px -11px rgba(0,174,255,1);
    -moz-box-shadow: 0px 0px 32px -11px rgba(0,174,255,1);
    box-shadow: 0px 0px 32px -11px rgba(0,174,255,1);
}

@media (max-width: 1212px){

    .projectCard{
        position: relative ;
        width:100% ;
        display: block ;

    }
    
    .img{
        position: relative ;
        width: 50% ;
        height: 250px ;
        margin: 0 auto;
        
    }
    .projectName{
        font-size: 40px;
        position: relative ;
        width: 70% ;
        margin: 0 auto;
        display: flex ;
        align-items: center ;
        justify-content: center ;
       
    }
    .projectInfo{
        position: relative ;
        right: 0px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
        top: 0px;
    }
    .projectInfo p {
        display: flex ;
        align-items: center ;
        justify-content: center;
    }

}

@media (max-width: 812px){
    .img{
        position: relative ;
        width: 80% ;
        height: 250px ;
        margin: 0 auto;
        
    }

}
@media (max-width: 412px){
    .img{
        position: relative ;
        width: 90% ;
        height: 250px ;
        margin: 0 auto;
        
    }
}



