.spinning-text-wrapper {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
    z-index: -1000000;
    top: 20px;
  }
  
  .spinning-text {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: 0 ;
    z-index: 10000;
    top: 16px;
  }

  .git{
    animation: spin 10s 1s linear infinite ;
  }
  .tel{
    animation: spin 10s  linear infinite ;
  }

  .spinning-text-wrapper:hover .spinning-text{
    animation-play-state: paused;
  }



  .spinning-text span {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: center 250px;
    cursor: pointer;
    color: rgb(44, 44, 177);
    
  }
  /*----------------ANIMATIONS------------------*/
  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);

    }
  }
  

@media (max-width: 1012px){
  .spinning-text-wrapper {
    width: 380px;
    height: 380px;
    top: -20px;

  }
  
}

