.mBtn{
position: relative ;
width: 100px ;
height: 40px ;
border-radius: 60px ;
display: flex ;
align-items: center ;
justify-content: center;
background: rgb(21, 21, 170);
color: rgb(204, 199, 199);
letter-spacing: 2px ;
padding-left: 40px;
transition: 0.5s ;
overflow: hidden;
font-size: 1em;
}

.mBtn:hover{
    padding-left: 0px ;
    padding-right: 40px ;
    color: whitesmoke;
}
.mBtn span {
    position: absolute ;
    left: 5px;
    width: 30px ;
    height: 30px;
    border-radius: 50% ;
    transition: 0.5 ease-in-out;
    display: flex ;
    align-items: center ;
    justify-content: center;
    color: black ;
    transition: 0.5s ;
}
.starIcon{
    position: absolute ;
    font-size: 25px;
    width: 35px ;
    height: 35px;
    display: flex ;
    align-items: center ;
    justify-content: center;
    color: rgb(233, 181, 83);
    filter: drop-shadow(2px 1px 1px orangered);
    animation: star 1s ease-in-out  infinite normal forwards;
}

.mBtn:hover span{
    left: calc(100% - 40px);
}
.mBtn:after{
    content: '';
    position: absolute ;
    width: 60px ;
    height: 100% ;
    z-index: 1 ;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-150px) skewX(30deg);
    transition: 0.5s ease-in-out;
    transition: 0.3s;
}
.mBtn:hover:after{
    transform: translateX(150px) skewX(30deg);
}


@keyframes star {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        backdrop-filter:  contrast(80%);
    }
    
}

@media (max-width: 1036px){

    .mBtn{
        
        font-size: 0.9em;
    }
}