@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'Losta Masta';
    src: url('/Deelishes-Regular.ttf') format('truetype'); 
  }
  
@font-face {
    font-family: 'Josefin';
    src: url('/JosefinSans-VariableFont_wght.ttf') format('truetype'); 
  }

*{
    font-family: 'Josefin';
}


.background{
    position: relative ;
    width: 100% ;
    height: 100vh ;
    z-index: 10;
    overflow-y: hidden;
    background: radial-gradient(#050533, rgb(5, 5, 46),rgb(12, 12, 107));
}


.starsBx{
    position: relative ;
    width: 100% ;
    min-height: 250px ;
    z-index: 10000;
}

.lineBx{
    position: relative ;
    display: flex ;
    justify-content: space-around;
    top: 0px;
}
.line{
    position: relative;
    width: 1.5px ;
    height: 0px;
    animation: line_animation 2s ease-in-out 0.2s 1 normal forwards;
}
.line:nth-child(2n){
    background-color: rgb(0, 174, 255);
    
}
.line:nth-child(2n+1){
    background-color: rgb(233, 181, 83);
}
.stars{
    position: absolute ;
    display: flex ;
    justify-content: space-around ;
    width: 100% ;
    bottom: 226px;
}
.star{
    position: relative ;
    top: calc(19px * var(--j));
    font-size: 20px;
    opacity: 0 ;
    animation: star_animation 2s ease-in-out 2.3s 1 normal forwards;
}

.star:nth-child(2n){
    color: rgb(0, 174, 255);
    filter: drop-shadow(2px 1px 1px blue);
    animation: star_animation1 2s ease-in-out 2.3s infinite normal ;
    
}
.star:nth-child(2n+1){
    color: rgb(233, 181, 83);
    filter: drop-shadow(2px 1px 1px orangered);
    animation: star_animation1 calc(0.2s * var(--j) ) ease-in-out 2.3s infinite normal ;
}
.cont2{
    position: relative ;
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));   */ 
    width: 100%;
    min-height: 300px ;
    display: flex;
}
.moonBx{
    position: relative;
    width: 350px ;
    height: 350px ;
    display: flex ;
    align-items: center ;
    justify-content: center; 

}

.info{
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius:10px ;
    display: flex ;
    align-items: center ;
    justify-content: center;

}
.centerContent{
    position: relative;

}

.header{
    position: relative;
    display: block;
    color: whitesmoke;
    width: 100%;
    min-height: 100px;
    /*display: flex ;
    align-items: center ;*/ 
    text-align: center;  
}

.header .name{
    font-family: 'Losta Masta';
    font-size: 200px;
}
.header .occupation{
    position: relative;
    bottom: 70px;
    font-size: 1.5em;
}


.principalBtn{
    position: relative ;
    width: 150px ;
    height: 40px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    bottom: 28px;
    
}
.icon2{
    position: relative ;
    height: 100%;
    display: flex ;
    align-items: center ;
    justify-content: center;
    margin-left: 10px;
    
}


/*------------ANIMACIONES---------------*/
@keyframes line_animation{
    0%{
        height: 0px;
    }
    50%{
        height: calc(10px * var(--i))
    }
    100%{
        height: calc(20px * var(--i))
    }
}

@keyframes line_animation_little{
    0%{
        height: 0px;
    }
    50%{
        height: calc(10px * var(--i))
    }
    100%{
        height: calc(15px * var(--i))
    }
}

@keyframes star_animation{
    0%{
        opacity: 0 ;
    }
    50%{
        opacity: 0.5 ;
    }
    100%{
        opacity: 1 ;
    }
}

@keyframes star_animation1{
    0%{
        opacity: 1 ;
        transform:scale(1);
    }
    50%{
        opacity: 1 ;
        transform:scale(1.5);
    }
    100%{
        opacity: 1 ;
        transform:scale(1);
    }
}
@media(max-width:1036px){
    .moonBx{
        width: 100%;
    }
    
    .cont2{
        display: block;
        bottom: 170px;
    }
    .info{
        position: relative;
        width: 100%;
        min-height: 300px;
        bottom: 85px;
    }
    .centerContent{
        position: relative;
    }
    
    .header .name{
        font-size: 120px;
    }
    .header .occupation{
        font-size: 1em;
        bottom: 45px;
    }
    
    .principalBtn{
        position: relative ;
        width: 150px ;
        height: 40px ;
        bottom: 15px;
    }
    .icon2{
        position: relative ;
        height: 100%;
        display: flex ;
        align-items: center ;
        justify-content: center;
        margin-left: 10px;
        
    }

    .star{
        position: relative ;
        top: calc(14px * var(--j));
        font-size: 18px;
        
    }
    .line{
        position: relative;
        width: 1.5px ;
        height: 0px;
        animation: line_animation_little 2s ease-in-out 0.2s 1 normal forwards;
    }
    .principalBtn{
        font-size: 1em;
    }

    
}
@media(max-width:364px){
    .header .name{
        font-size: 100px;
    }
    .header .occupation{
        font-size: 1em;
        bottom: 45px;
    }
}


