
@font-face {
    font-family: 'Losta Masta';
    src: url('/Deelishes-Regular.ttf') format('truetype'); 
  }

.background1{
    position: relative ;
    width: 100% ;
    min-height: 100vh ;
}

.pContent{
    position: relative ;
    width: 100% ;
    min-height: 350px;
    color: rgb(194, 197, 228);
    font-size: 20px; 
}
.wave{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.wave img{
    position: relative;
    height: 100%;
}
.Bx{
    position: relative ;
    width: 100%; 
    min-height: 200px;
    
}

.about .header1{
    position: relative;
    margin: 0 auto;

}
.about {
    position: relative;
    width: 100%;
    letter-spacing: 1px;
    height: 100vh;  
    background: black; 
}
.flex{
    position: relative ;
}
.aboutInfo{
    position: relative ;
    padding: 10px;
    margin: 0 auto ;
    width: 80% ;
}
.aboutInfo p{
    font-size: 1em;  
}
.aboutInfo span{
    position: relative;
    color: rgba(17, 157, 221, 0.829);
    font-size: 2em;
    text-align: center;
    font-weight: lighter;
    top: 45px;
}
.gif1{
    position: relative ;
    width: 300px ;
    height: 300px ;
    margin: 0 auto;
}
.gif1 img{
    position: relative ;
    width: 100% ;
    height: 100%;
}
.skill{
    position: relative ;
    width: 100% ;
    min-height: 100vh;
    display: flex;
    align-items: center ;
    justify-content: center;
    background: black;
}
.header1, .header2{
    position: relative ;
    min-width: 100px;
    text-transform: uppercase;
    color: rgb(17, 157, 221);
    font-size: 4em;
    font-family: 'Losta Masta';
    width: 80%;
    margin: 0 auto;
}
.centerSkills{
    position: relative ;
    width: 100% ;
    height: 100%;
}
.skillsList{
    position: relative ;
    width: 50% ;
    height: 100% ;
    margin: 0 auto;
}
.skillsList ul{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    align-items: center ;
    grid-gap:20px;
    justify-content: space-between;
}
.skillsList ul li{
    position: relative ;
    width: 90%;
    height: 100px ;
    margin: 10px;
    list-style: none;
    display: flex ;
    align-items: center ;
    justify-content: space-around;
    transition: 1s ease;
    border-bottom: 1px solid rgba(17, 157, 221, 0.829); 
}
.skillsList ul li span{
    position: relative;
    text-align: start;
    width: 100px;
}
.skillsList ul li:hover .logo  {
    width: 80px ;
    height: 80px;
}

.logo{
    position: relative;
    width: 50px ;
    height: 50px;
    transition: 0.5s ease all;

}
.logo img{
    position: relative;
    width: 100% ;
    height: 100%;
}

/*------------ANIMACIONES---------------*/
@keyframes line_animation{
    0%{
        height: 0px;
        
    }
    50%{
        height: calc(10px * var(--i))
    }
    100%{
        height: calc(20px * var(--i))
    }
}

@keyframes star_animation{
    0%{
        opacity: 0 ;
    }
    50%{
        opacity: 0.5 ;
    }
    100%{
        opacity: 1 ;
    }
}
@keyframes moonRings {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}

@keyframes star_animation1{
    0%{
        opacity: 1 ;
        transform:scale(1);
    }
    50%{
        opacity: 1 ;
        transform:scale(1.5);
    }
    100%{
        opacity: 1 ;
        transform:scale(1);
    }
}



@media (max-width: 1153px){
    .about {
        position: relative;
        width: 100%;
        margin-left: 50px;
        letter-spacing: 1px;
        font-size: 15px;

        
    }
    .skill{
        font-size: 15px;
        display: block;
    
    }
    .header1 , .header2 {
        font-size: 4em;

    }
    .flex{
        position: relative ;
        width: 100% ;
        height: 100%;
    }
    .aboutInfo{
        font-size: 1.2em;
        letter-spacing: 2px;
        width: 50%;
        margin-right: 20px;
    }
    .gif1{
        width: 50%;
        height: 50%;
    }
    
}
@media (max-width: 668px){

    .skill{
        font-size: 15px;
        display: block;
    
    }
    
    .about{
        position: relative;
        width: 100%;
        margin: 0;
    }
    .flex{
        display: block;
        width: 100%;
    }
    .aboutInfo{
        font-size: 1.2em;
        letter-spacing: 2pz;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .aboutInfo span{
        font-size: 1.6em;
    }
    .gif1{
        width: 300px;
        height: 300px;
        margin:  0 auto;
    }
    .skillsList{
        position: relative ;
        width: 90% ;
    }
    .skillsList ul{
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    }
    .skillsList ul li{
        width: 100%;
        display: flex ;
        align-items: center ;
        justify-content: space-between;
        right: 30px;
    }
    .skillsList ul li span{
        text-align: end;
    }



}



